<section fxLayout="column" fxLayout.gt-md="row">
    <div fxFlex="1 0 auto" fxFlex.gt-sm="20">
        <div>
          <mat-card class="statistics-card sm-height">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex class="">
                    <h5 class="push-none wide-spacing font text-center">Active Campaigns</h5>
                  </div>
                  <div fxFlexAlign="start">
                    <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                      <mat-icon class="secondary-text-color">settings</mat-icon>
                    </button>
                  </div>
                </div>
            <td-data-table _ngcontent-c29="" class="ng-tns-c29-89" _nghost-c30=""><table _ngcontent-c30="" td-data-table="" _nghost-c32="" class="td-data-table" style="left: 0px;">
                <thead _ngcontent-c30="" class="td-data-table-head">
                  <tr _ngcontent-c30="" td-data-table-column-row="" _nghost-c33="" class="td-data-table-column-row no-border bg-color">
                    <!---->
                    <!----><th _ngcontent-c30="" td-data-table-column="" _nghost-c34="" class="td-data-table-column mat-clickable mat-sortable mat-active ng-star-inserted" style="min-width: 65.8438px; max-width: 65.8438px;"><span _ngcontent-c34="" class="td-data-table-heading">
                <!---->
                <span _ngcontent-c34="">
                  
                        <span _ngcontent-c30="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Name</span>
                    
                </span>
              </span>
              </th>
              <th _ngcontent-c30="" td-data-table-column="" _nghost-c34="" class="td-data-table-column mat-clickable mat-sortable ng-star-inserted" style="min-width: 82.2188px; max-width: 82.2188px;"><span _ngcontent-c34="" class="td-data-table-heading">
                <!---->
                <span _ngcontent-c34="">
                  
                        <span _ngcontent-c30="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Buys</span>
                    
                </span>
              </span>
              </th>
              <th _ngcontent-c30="" td-data-table-column="" _nghost-c34="" class="td-data-table-column mat-clickable mat-sortable mat-numeric ng-star-inserted" style="min-width: 100.469px; max-width: 100.469px;"><span _ngcontent-c34="" class="td-data-table-heading">
                <!---->
                <span _ngcontent-c34="">
                  
                        <span _ngcontent-c30="" style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Remain</span>
                    
                </span>
                <!---->
              </span>
              </th>
                  </tr>
                </thead>
              </table>
              <div _ngcontent-c30="" class="td-data-table-scrollable">
                <div _ngcontent-c30=""></div>
                <table _ngcontent-c30="" td-data-table="" _nghost-c32="" class="td-data-table">
                  <tbody _ngcontent-c30="" class="td-data-table-body">
                    <!----><tr _ngcontent-c30="" td-data-table-row="" _nghost-c35="" class="td-data-table-row ng-star-inserted no-border" tabindex="-1" style="">
                      <td _ngcontent-c30="" td-data-table-cell="" _nghost-c36="" class="td-data-table-cell mat-numeric ng-star-inserted">
                        <div _ngcontent-c36="" class="td-data-table-cell-content-wrapper td-data-table-cell-numeric">
                
                        <!----><span _ngcontent-c30="" class="ng-star-inserted">NorCal Repeaters</span>
                        <!---->
                      
                       </div>
                     </td>

                     <td _ngcontent-c30="" td-data-table-cell="" _nghost-c36="" class="td-data-table-cell mat-numeric ng-star-inserted">
                        <div _ngcontent-c36="" class="td-data-table-cell-content-wrapper td-data-table-cell-numeric">
                
                        <!----><span _ngcontent-c30="" class="ng-star-inserted green campaigns">138</span>
                        <!---->
                      
                       </div>
                     </td>

                     <td _ngcontent-c30="" td-data-table-cell="" _nghost-c36="" class="td-data-table-cell mat-numeric ng-star-inserted">
                        <div _ngcontent-c36="" class="td-data-table-cell-content-wrapper td-data-table-cell-numeric">
                
                        <!----><span _ngcontent-c30="" class="ng-star-inserted">$4,590</span>
                        <!---->
                      
                       </div>
                     </td>
                    </tr>

                    <tr _ngcontent-c30="" td-data-table-row="" _nghost-c35="" class="td-data-table-row ng-star-inserted no-border" tabindex="-1" style="">
                        <td _ngcontent-c30="" td-data-table-cell="" _nghost-c36="" class="td-data-table-cell mat-numeric ng-star-inserted">
                          <div _ngcontent-c36="" class="td-data-table-cell-content-wrapper td-data-table-cell-numeric">
                  
                          <!----><span _ngcontent-c30="" class="ng-star-inserted">Active Moms</span>
                          <!---->
                        
                         </div>
                       </td>
  
                       <td _ngcontent-c30="" td-data-table-cell="" _nghost-c36="" class="td-data-table-cell mat-numeric ng-star-inserted">
                          <div _ngcontent-c36="" class="td-data-table-cell-content-wrapper td-data-table-cell-numeric">
                  
                          <!----><span _ngcontent-c30="" class="ng-star-inserted campaigns red">25</span>
                          <!---->
                        
                         </div>
                       </td>
  
                       <td _ngcontent-c30="" td-data-table-cell="" _nghost-c36="" class="td-data-table-cell mat-numeric ng-star-inserted">
                          <div _ngcontent-c36="" class="td-data-table-cell-content-wrapper td-data-table-cell-numeric">
                  
                          <!----><span _ngcontent-c30="" class="ng-star-inserted">500</span>
                          <!---->
                        
                         </div>
                       </td>
                      </tr>

                      <tr _ngcontent-c30="" td-data-table-row="" _nghost-c35="" class="td-data-table-row ng-star-inserted no-border" tabindex="-1" style="">
                          <td _ngcontent-c30="" td-data-table-cell="" _nghost-c36="" class="td-data-table-cell mat-numeric ng-star-inserted">
                            <div _ngcontent-c36="" class="td-data-table-cell-content-wrapper td-data-table-cell-numeric">
                    
                            <!----><span _ngcontent-c30="" class="ng-star-inserted">Followers Push</span>
                            <!---->
                          
                           </div>
                         </td>
    
                         <td _ngcontent-c30="" td-data-table-cell="" _nghost-c36="" class="td-data-table-cell mat-numeric ng-star-inserted">
                            <div _ngcontent-c36="" class="td-data-table-cell-content-wrapper td-data-table-cell-numeric">
                    
                            <!----><span _ngcontent-c30="" class="ng-star-inserted campaigns">21</span>
                            <!---->
                          
                           </div>
                         </td>
    
                         <td _ngcontent-c30="" td-data-table-cell="" _nghost-c36="" class="td-data-table-cell mat-numeric ng-star-inserted">
                            <div _ngcontent-c36="" class="td-data-table-cell-content-wrapper td-data-table-cell-numeric">
                    
                            <!----><span _ngcontent-c30="" class="ng-star-inserted">$10,000</span>
                            <!---->
                          
                           </div>
                         </td>
                        </tr>

                        <tr _ngcontent-c30="" td-data-table-row="" _nghost-c35="" class="td-data-table-row ng-star-inserted no-border" tabindex="-1" style="">
                            <td _ngcontent-c30="" td-data-table-cell="" _nghost-c36="" class="td-data-table-cell mat-numeric ng-star-inserted">
                              <div _ngcontent-c36="" class="td-data-table-cell-content-wrapper td-data-table-cell-numeric">
                      
                              <!----><span _ngcontent-c30="" class="ng-star-inserted">Wine with Sports</span>
                              <!---->
                            
                             </div>
                           </td>
      
                           <td _ngcontent-c30="" td-data-table-cell="" _nghost-c36="" class="td-data-table-cell mat-numeric ng-star-inserted">
                              <div _ngcontent-c36="" class="td-data-table-cell-content-wrapper td-data-table-cell-numeric">
                      
                              <!----><span _ngcontent-c30="" class="ng-star-inserted campaigns">13</span>
                              <!---->
                            
                             </div>
                           </td>
      
                           <td _ngcontent-c30="" td-data-table-cell="" _nghost-c36="" class="td-data-table-cell mat-numeric ng-star-inserted">
                              <div _ngcontent-c36="" class="td-data-table-cell-content-wrapper td-data-table-cell-numeric">
                      
                              <!----><span _ngcontent-c30="" class="ng-star-inserted">$7,300</span>
                              <!---->
                            
                             </div>
                           </td>
                          </tr>
                    
                  </tbody>
                </table>
              </div>
              
                      
              </td-data-table>
          </mat-card>
          
          
        </div>
      </div>
  <div fxFlex="1 0 auto" fxFlex.gt-sm="20">
      <div>
        <mat-card class="statistics-card average-wine sm-height">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex class="">
                  <h5 class="push-none wide-spacing font text-center">Average Wine Rank</h5>
                </div>
                <div fxFlexAlign="start">
                  <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                    <mat-icon class="secondary-text-color">settings</mat-icon>
                  </button>
                </div>
              </div>
          <mat-card-footer>
            <div echarts [options]="areaChartWithLineOption" (chartInit)="chartInstances.push($event)"
                 class="area-chart-with-line"></div>
          </mat-card-footer>
        </mat-card>
        
      </div>
    </div>
  <div fxFlex="1 0 auto" fxFlex.gt-md="60" fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="1 0 auto" fxFlex.gt-md="50">
          <div>
              <mat-card class="sm-height">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                      <div fxFlex class="">
                        <h5 class="push-none wide-spacing font text-center">Top Wines Buys Today</h5>
                      </div>
                      <div fxFlexAlign="start">
                        <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                          <mat-icon class="secondary-text-color">settings</mat-icon>
                        </button>
                      </div>
                    </div>
                  <mat-card-content>
                    <div echarts [options]="simpleBarChartOption" (chartInit)="chartInstances.push($event)" class="bar-chart"></div>
                  </mat-card-content>
                </mat-card>
            <!-- <mat-card>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                  <h5 class="font-w-light secondary-text-color">Web statistics</h5>
                </div>
                <div fxLayout="row">
                  <mat-tab-group fxHide.lt-md="true">
                    <mat-tab>
                      <ng-template matTabLabel>All time</ng-template>
                    </mat-tab>
                    <mat-tab>
                      <ng-template matTabLabel>2017</ng-template>
                    </mat-tab>
                    <mat-tab>
                      <ng-template matTabLabel>2016</ng-template>
                    </mat-tab>
                  </mat-tab-group>
                  <div>
                    <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                      <mat-icon class="secondary-text-color">more_vert</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div echarts [options]="areaChartOption" (chartInit)="chartInstances.push($event)" class="area-chart"></div>
            </mat-card> -->
            <!--<mat-card class="rating-card">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                  <h5 class="font-w-light secondary-text-color">Rating</h5>
                </div>
                <mat-tab-group fxHide.lt-md="true">
                  <mat-tab>
                    <ng-template matTabLabel>Week</ng-template>
                  </mat-tab>
                  <mat-tab>
                    <ng-template matTabLabel>Month</ng-template>
                  </mat-tab>
                  <mat-tab>
                    <ng-template matTabLabel>Year</ng-template>
                  </mat-tab>
                </mat-tab-group>
              </div>
              <mat-list>
                <ng-container *ngFor="let item of ratingItems">
                  <mat-list-item>
                    <img mat-list-avatar src="{{item.avatar}}">
                    <h6 matLine>{{item.name}}</h6>
                    <p matLine>{{item.tag}}</p>
                    <div class="val-wrap" fxLayout="row" fxLayoutAlign="space-around center">
                      <mat-progress-bar fxFlex="70" [mode]="'determinate'" [value]="item.value"></mat-progress-bar>
                      <span fxFlex="30" class="rating-val secondary-text-color text-right">{{item.value}}%</span>
                    </div>
                    <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                      <mat-icon class="secondary-text-color">more_vert</mat-icon>
                    </button>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                </ng-container>
              </mat-list>
            </mat-card>-->
          </div>

          <div>
              
            <!-- <mat-card>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                  <h5 class="font-w-light secondary-text-color">Web statistics</h5>
                </div>
                <div fxLayout="row">
                  <mat-tab-group fxHide.lt-md="true">
                    <mat-tab>
                      <ng-template matTabLabel>All time</ng-template>
                    </mat-tab>
                    <mat-tab>
                      <ng-template matTabLabel>2017</ng-template>
                    </mat-tab>
                    <mat-tab>
                      <ng-template matTabLabel>2016</ng-template>
                    </mat-tab>
                  </mat-tab-group>
                  <div>
                    <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                      <mat-icon class="secondary-text-color">more_vert</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <div echarts [options]="areaChartOption" (chartInit)="chartInstances.push($event)" class="area-chart"></div>
            </mat-card> -->
          </div>

        </div>
    <div fxFlex="1 0 auto" fxFlex.gt-sm="50">
      <div>
          <mat-card class="sm-height">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex class="">
                    <h5 class="push-none wide-spacing font text-center">Top Wines Buys Month</h5>
                  </div>
                  <div fxFlexAlign="start">
                    <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                      <mat-icon class="secondary-text-color">settings</mat-icon>
                    </button>
                  </div>
                </div>
              <mat-card-content>
                <div echarts [options]="simpleBarChartOption" (chartInit)="chartInstances.push($event)" class="bar-chart"></div>
              </mat-card-content>
            </mat-card>
      </div>

    </div>
  </div>
</section>
<section fxLayout="column" fxLayout.gt-md="row">
    <div fxFlex="1 0 auto" fxFlex.gt-sm="20">
        <mat-card class="clients-card price-card sm-height">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex class="">
                <h5 class="push-none wide-spacing text-center font text-center">Wine Tags</h5>
              </div>
              <div fxFlexAlign="start">
                <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                  <mat-icon class="secondary-text-color">settings</mat-icon>
                </button>
              </div>
            </div>
          </mat-card>
    </div> 
    <div fxFlex="1 0 auto" fxFlex.gt-sm="20">
      <div>
          <mat-card class="clients-card price-card sm-height">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex class="">
                  <h5 class="push-none wide-spacing font text-center">Price Elasticity</h5>
                </div>
                <div fxFlexAlign="start">
                  <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                    <mat-icon class="secondary-text-color">settings</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card>
      </div>
        
    </div>
    <div fxFlex="1 0 auto" fxFlex.gt-sm="30">
      <div>
        <mat-card class="sm-height">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div fxFlex class="">
                  <h5 class="push-none wide-spacing font text-center">Top Wines Drank Today</h5>
                </div>
                <div fxFlexAlign="start">
                  <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                    <mat-icon class="secondary-text-color">settings</mat-icon>
                  </button>
                </div>
              </div>
          <mat-card-content>
            <div echarts [options]="simpleBarChartOption" (chartInit)="chartInstances.push($event)" class="bar-chart"></div>
          </mat-card-content>
        </mat-card>
      </div>
        
    </div>

    <div fxFlex="1 0 auto" fxFlex.gt-sm="30">
        <div>
            <mat-card class="sm-height">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex class="">
                      <h5 class="push-none wide-spacing font text-center">Top Wines Drank Month</h5>
                    </div>
                    <div fxFlexAlign="start">
                      <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                        <mat-icon class="secondary-text-color">settings</mat-icon>
                      </button>
                    </div>
                  </div>
                <mat-card-content>
                  <div echarts [options]="simpleBarChartOption" (chartInit)="chartInstances.push($event)" class="bar-chart"></div>
                </mat-card-content>
              </mat-card>
        </div>
    </div>
</section>

<section fxLayout="column" fxLayout.gt-md="row">
    <div fxFlex="1 0 auto" fxFlex.gt-sm="20">
        <div>
            <mat-card class="sm-height">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex class="">
                      <h5 class="push-none wide-spacing text-center font text-center">Notifications</h5>
                    </div>
                    <div fxFlexAlign="start">
                      <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                        <mat-icon class="secondary-text-color">settings</mat-icon>
                      </button>
                    </div>
                  </div>
                <mat-card-content class="notifications">
                  <ul class="notification-list">
                    <li><i class="material-icons notification">chat</i> Ticket #27 Updated</li>
                    <li><i class="material-icons notification">chat</i> Pricing Upload Complete</li>
                    <li><i class="material-icons notification">chat</i> Customer Servey</li>
                    <li><i class="material-icons notification">chat</i> You're Invited</li>
                  </ul>
                </mat-card-content>
              </mat-card>
        </div>
    </div> 
    <div fxFlex="1 0 auto" fxFlex.gt-sm="20">
      <div>
          <mat-card class="consumer-grid sm-height">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex class="">
                    <h5 class="push-none wide-spacing text-center font text-center">Most Likes Post</h5>
                  </div>
                  <div fxFlexAlign="start">
                    <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                      <mat-icon class="secondary-text-color">settings</mat-icon>
                    </button>
                  </div>
                </div>
            </mat-card>
      </div>
        
    </div>
    <div fxFlex="1 0 auto" fxFlex.gt-sm="30">
      <div>
            
      <mat-card class="clients-card price-card sm-height">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex class="">
              <h5 class="push-none wide-spacing font text-center">Most Shared Wines</h5>
            </div>
            <div fxFlexAlign="start">
              <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                <mat-icon class="secondary-text-color">settings</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
          </div>
        
    </div>

    <div fxFlex="1 0 auto" fxFlex.gt-sm="30">
        <div>
          <mat-card class="consumer-grid sm-height">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex class="">
                    <h5 class="push-none wide-spacing text-center font text-center">Consumer Personas</h5>
                  </div>
                  <div fxFlexAlign="start">
                    <button mat-icon-button [matMenuTriggerFor]="menuAbove">
                      <mat-icon class="secondary-text-color">settings</mat-icon>
                    </button>
                  </div>
                </div>
              <mat-card-content class="notifications">
                <ul class="consumer-list">
                  <li> Name</li>
                  <li> Buys </li>
                  <li> Drinks</li>
                </ul>
              </mat-card-content>
            </mat-card>
      </div>
    </div>
</section>
<mat-menu #menuAbove="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item *ngFor="let item of menuItems">
    {{ item.text }}
  </button>
</mat-menu>
